<!DOCTYPE html>
<html lang="en" ng-app="nginxTrustedBrowsers">
    <head>
        <meta charset="UTF-8">
        <title>nginx-trusted-browsers</title>

        <!-- build:css css/vendor.css -->
        <link rel="stylesheet" href="../bower_components/semantic/dist/semantic.css">
        <!-- endbuild -->

        <!-- build:css css/styles.css -->
        <link rel="stylesheet" href="styles.css">
        <!-- endbuild -->
    </head>
    <body ng-controller="mainController">
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="#" class="header item">
                    nginx-trusted-browsers
                </a>
                <a href="#" class="item">Home</a>
                <div class="ui simple dropdown item">
                    Dropdown
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="#">Link Item</a>
                        <a class="item" href="#">Link Item</a>
                        <div class="divider"></div>
                        <div class="header">Header Item</div>
                        <div class="item">
                            <i class="dropdown icon"></i>
                            Sub Menu
                            <div class="menu">
                                <a class="item" href="#">Link Item</a>
                                <a class="item" href="#">Link Item</a>
                            </div>
                        </div>
                        <a class="item" href="#">Link Item</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui main text container">
            <h1 class="ui header">Privacy &amp; Security</h1>
            <p>This project aims to secure your website and keep adversaries crawlsers and bots away from your personal website. The typical and ineffective way of doing this is collecting a huge list of malicious keywords which can be used to identify unwanted
                user agents. Mainting this list is a hassle. I say there's a better way!</p>

            <h1 class="ui header">Approaching the Problem</h1>
            <p>Instead of finding the advesaries, why not find trusted browsers instead. Using the sliders below you can create your own personal profile that matches only the browsers, operating systems, devices &amp; brands you trust! The end result is a
                powerfull and personalized regex that can be used in your web server configuration like nginx and apache to keep bad guys out</p>

            <!-- Operating Systems -->
            <h1 class="ui dividing header">Operating Systems</h1>
            <div class="ui equal width grid center aligned">
                <div class="column" ng-repeat="opsys in os">
                    <h3 class="ui header">
                        <i class="icon" ng-class="opsys.icon"></i>
                        {{opsys.constructor.name}}
                    </h3>
                    <toggle ng-model="opsys.enabled"></toggle>
                </div>
            </div>

            <!-- Browsers -->
            <h1 class="ui dividing header">Browsers</h1>
            <div class="ui massive form">
                <div class="ui three column grid center aligned">
                    <div class="column" ng-repeat="browser in browsers">
                        <h3 class="ui header">
                            <i class="icon" ng-class="browser.icon"></i>
                            {{browser.constructor.name}}
                        </h3>
                        <toggle ng-model="browser.enabled"></toggle>
                    </div>
                </div>
            </div>

            <!-- Devices -->
            <h1 class="ui dividing header">Devices &amp; Brands</h1>
            <div class="ui massive form">
                <div class="ui three column grid center aligned">
                    <div class="column" ng-repeat="device in devices">
                        <h3 class="ui header">{{device.constructor.name}}</h3>
                        <toggle ng-model="device.enabled"></toggle>
                    </div>
                </div>
            </div>

            <h1 class="ui dividing header">Regex Tester</h1>
            <div class="ui equal width grid center aligned">
                <div class="column">
                    <div class="ui big green fluid button" ng-click="computeRegex()">
                        <i class="checkmark icon"></i>
                        Update Regex
                    </div>
                </div>
                <div class="column">
                    <div class="ui big blue fluid button" ng-click="getUserAgent()">
                        <i class="user icon"></i>
                        Get My User Agent
                    </div>
                </div>
            </div>
            <div class="ui segment">{{regex_string}}</div>
            <div class="ui big form">
                <div class="field">
                    <textarea ng-model="useragent" rows="4" ng-change="match()" placeholder="Paste your user agent here..."></textarea>
                </div>
            </div>

            <div class="ui inverted red segment center aligned" ng-class="status ? 'green' : 'red'">
                <p>{{statusText}}</p>
            </div>

        </div>

        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui inverted section divider"></div>
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="#">Terms and Conditions</a>
                    <a class="item" href="#">Privacy Policy</a>
                </div>
            </div>
        </div>

        <!-- build:js js/vendor.js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/semantic/dist/semantic.js"></script>
        <script src="../bower_components/underscore/underscore.js"></script>
        <!-- endbuild -->

        <!-- build:js js/app.js -->
        <script src="app.js" charset="utf-8"></script>
        <script src="slider.js" charset="utf-8"></script>
        <script src="operatingsystem.js" charset="utf-8"></script>
        <script src="browsers.js" charset="utf-8"></script>
        <script src="devices.js" charset="utf-8"></script>
        <script src="common.js" charset="utf-8"></script>
        <!-- endbuild -->

    </body>
</html>